html, body {
  font-size: 10px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #F4F4F4;
}

header {
  background-color: #0095dd;
  color: #FFFFFF;
  height: 4.9rem;
  position: relative;
  z-index: 2;
}

header > button, header > a {
  left: 0;
  position: absolute;
  text-align: center;
  width: 4rem;
}

header > button span, header > a span {
  background: none no-repeat scroll center center transparent;
  float: left;
  height: 2.5rem;
  margin: 0 0.5rem 0 -1rem;
  width: 2.5rem;
}

header > button .icon:after, header > a .icon:after {
  background: url("images/mainsepa.png") no-repeat scroll right top;
  background-color: #00539f;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 2.2rem;
  z-index: -1;
}

header a, header button {
  background: none repeat scroll 0 0 transparent;
  border: none;
  height: 100%;
  margin: 0;
  color: #FFFFFF;
  font-size: 1.4rem;
  line-height: 1.1em;
  padding: 0;
}

header .icon {
  background: none no-repeat scroll center center transparent;
  display: inline-block;
  width:100%;
  text-indent: -9999px;
  height: 4.9rem;
}

header menu {
  margin: 0px;
  padding: 0px;
  float: right;
  height: 100%;
  border: none;
}

header menu a, header menu button {
  background: url("images/separator.png") no-repeat scroll left center transparent;
  line-height: 4.9rem;
  min-width: 6rem;
  padding: 0rem 0.75rem 0rem 1rem;
  text-align: center;
  text-shadow: none;
  width: auto;
}

header h1 {
  display: block;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 4.9rem;
  height: 100%;
  margin: 0 0 0 3rem;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section .body{
  top: 6rem;
  left:1rem;
  right:1rem;
  bottom: 6rem;
  position: absolute;
}

.textEntry textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  position: absolute;
  resize: none;
  height: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #D1D1D1;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  font-family: "Open Sans",Sans-serif;
  font-size: 1.4rem;
}

section #glasspane {
  background: #FF0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0.2;
  z-index: 3;
  visibility: visible; /* hidden; */
  -moz-transition:opacity 0.1s linear;
  -webkit-transition:opacity 0.1s linear;
}

section #glasspane #title{
  margin: 1.5rem 2rem 1rem 2rem;
  border-bottom: 1px solid #000;
  padding: 0rem 1rem 1rem 1rem;
  font-family: "Open Sans",Sans-serif;
  font-size: 2rem;
}

section #glasspane #msg{
  margin: 0rem 2rem 5rem 2rem;
  padding: 0rem 1rem 1rem 1rem;
  /* font-family: "Open Sans",Sans-serif; */
  font-size: 1.8rem;
}

section #progresspane{
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  z-index: 5;
  visibility: visible;
}

section #progresspane #progress {
   background: url("images/progress.png") no-repeat scroll left top transparent;
   height: 40px;
   width: 40px;
   /* animation: 1s steps(23, end) 0s normal none infinite moveSpinner; */
   animation-name: moveSpinner;
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-timing-function: steps(23, end);
   animation-delay: 0s;
   -webkit-animation-name: moveSpinner;
   -webkit-animation-duration: 1s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: steps(23, end);
   -webkit-animation-delay: 0s;
  position: relative;
  left: -20px;
  top: -20px;
  border: medium none;
}

@keyframes moveSpinner {
  from { background-position: 0 top; }
  to { background-position: -920px top; }
}
@-webkit-keyframes moveSpinner /* Safari and Chrome */
{
  from { background-position: 0 top; }
  to { background-position: -920px top; }
}
/* section #progresspane progress::-moz-progress-bar {      */  /* firefox */
/*   background: none;                                      */
/* }                                                        */
/* section #progresspane progress::-webkit-progress-value { */  /* chrome and safari */
/*    background: none;                                     */
/* }                                                        */

footer {
  background:#6a7b86;
  background:-moz-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#6a7b86),color-stop(100%,#424f5a));
  background:-webkit-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
  background:-o-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
  background:-ms-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
  background:linear-gradient(top,#6a7b86 0%,#424f5a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a7b86',endColorstr='#424f5a',GradientType=0);
  color: #FFFFFF;
  position: absolute;
  width:100%;
  height:5rem;
  bottom:0;
}

footer a, footer button {
   background: none repeat scroll 0 0 transparent;
   border: none;
   /* height: 100%; */
   width: 100%;
   margin:0;
   color: #FFFFFF;
   text-shadow: none;
   font-size: 1.4rem;
   line-height: 2.8em;
}

footer .icon {
  background: none no-repeat scroll center center transparent;
  display: inline-block;
  text-indent: -9999px;
  width: 100%;
  height: 4rem;
}

footer table{
   table-layout: fixed;
   margin:0;
   padding:0;
   width: 100%;
   height:5rem;
}

button, a {
  -moz-box-sizing: border-box;
  background: url("images/default.png") repeat-x scroll left bottom #FAFAFA;
  border: 1px solid #9F9F9F;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  color: #333333;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  height: 3.8rem;
  line-height: 3.8rem;
  margin: 0 0 1rem;
  outline: medium none;
  overflow: hidden;
  padding: 0 1.5rem;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  vertical-align: middle;
  white-space: nowrap;
}

.icon.icon-close {
  background-image: url("images/close.png");
}
.icon.icon-menu {
  background-image: url("images/menu.png");
}
.icon.icon-add {
  background-image: url("images/add.png");
}
.icon.icon-back {
  background-image: url("images/back.png");
}
.icon.icon-send {
  background-image: url("images/send.png");
}
.icon.icon-diskbd {
  background-image: url("images/dismisskbd.png");
}
