.icon:before {
   display: inline-block;
   background-size: 3rem 3rem;
   content: "";
   width: 3rem;
   height: 3rem;
}

.icon.add:before { background-image: url("images/icons/add.png"); }
.icon.agenda:before { background-image: url("images/icons/agenda.png"); }
.icon.alarm_stop:before { background-image: url("images/icons/alarm_stop.png"); }
.icon.back:before { background-image: url("images/icons/back.png"); }
.icon.bluetooth:before { background-image: url("images/icons/bluetooth.png"); }
.icon.bluetooth_off:before { background-image: url("images/icons/bluetooth_off.png"); }
.icon.bluetooth_on:before { background-image: url("images/icons/bluetooth_on.png"); }
.icon.bluetooth_xfer:before { background-image: url("images/icons/bluetooth_xfer.png"); }
.icon.camera:before { background-image: url("images/icons/camera.png"); }
.icon.cancel:before { background-image: url("images/icons/cancel.png"); }
.icon.check:before { background-image: url("images/icons/check.png"); }
.icon.check_off:before { background-image: url("images/icons/check_off.png"); }
.icon.check_on:before { background-image: url("images/icons/check_on.png"); }
.icon.coins:before { background-image: url("images/icons/coins.png"); }
.icon.compose:before { background-image: url("images/icons/compose.png"); }
.icon.contacts:before { background-image: url("images/icons/contacts.png"); }
.icon.copy:before { background-image: url("images/icons/copy.png"); }
.icon.cut:before { background-image: url("images/icons/cut.png"); }
.icon.data_2G:before { background-image: url("images/icons/data_2G.png"); }
.icon.data_3G:before { background-image: url("images/icons/data_3G.png"); }
.icon.data_4G:before { background-image: url("images/icons/data_4G.png"); }
.icon.data_E:before { background-image: url("images/icons/data_E.png"); }
.icon.data_H:before { background-image: url("images/icons/data_H.png"); }
.icon.data_Hp:before { background-image: url("images/icons/data_Hp.png"); }
.icon.data_O:before { background-image: url("images/icons/data_O.png"); }
.icon.day:before { background-image: url("images/icons/day.png"); }
.icon.delete:before { background-image: url("images/icons/delete.png"); }
.icon.done:before { background-image: url("images/icons/done.png"); }
.icon.down:before { background-image: url("images/icons/down.png"); }
.icon.download:before { background-image: url("images/icons/download.png"); }
.icon.download_off:before { background-image: url("images/icons/download_off.png"); }
.icon.earth:before { background-image: url("images/icons/earth.png"); }
.icon.edit_contact:before { background-image: url("images/icons/edit_contact.png"); }
.icon.edit_list:before { background-image: url("images/icons/edit_list.png"); }
.icon.edit_picture:before { background-image: url("images/icons/edit_picture.png"); }
.icon.flag:before { background-image: url("images/icons/flag.png"); }
.icon.forward:before { background-image: url("images/icons/forward.png"); }
.icon.hide:before { background-image: url("images/icons/hide.png"); }
.icon.in_flight_off:before { background-image: url("images/icons/in_flight_off.png"); }
.icon.in_flight_on:before { background-image: url("images/icons/in_flight_on.png"); }
.icon.keybd_off:before { background-image: url("images/icons/keybd_off.png"); }
.icon.lock:before { background-image: url("images/icons/lock.png"); }
.icon.mail:before { background-image: url("images/icons/mail.png"); }
.icon.mail_forward:before { background-image: url("images/icons/mail_forward.png"); }
.icon.mail_reply:before { background-image: url("images/icons/mail_reply.png"); }
.icon.mail_send:before { background-image: url("images/icons/mail_send.png"); }
.icon.menu:before { background-image: url("images/icons/menu.png"); }
.icon.month:before { background-image: url("images/icons/month.png"); }
.icon.move_file:before { background-image: url("images/icons/move_file.png"); }
.icon.move_layout:before { background-image: url("images/icons/move_layout.png"); }
.icon.next:before { background-image: url("images/icons/next.png"); }
.icon.paste:before { background-image: url("images/icons/paste.png"); }
.icon.phone:before { background-image: url("images/icons/phone.png"); }
.icon.place:before { background-image: url("images/icons/place.png"); }
.icon.previous:before { background-image: url("images/icons/previous.png"); }
.icon.radio_off:before { background-image: url("images/icons/radio_off.png"); }
.icon.radio_on:before { background-image: url("images/icons/radio_on.png"); }
.icon.reply:before { background-image: url("images/icons/reply.png"); }
.icon.reply_all:before { background-image: url("images/icons/reply_all.png"); }
.icon.roll_back:before { background-image: url("images/icons/roll_back.png"); }
.icon.search:before { background-image: url("images/icons/search.png"); }
.icon.select_all:before { background-image: url("images/icons/select_all.png"); }
.icon.send:before { background-image: url("images/icons/send.png"); }
.icon.settings:before { background-image: url("images/icons/settings.png"); }
.icon.settings_on:before { background-image: url("images/icons/settings_on.png"); }
.icon.share:before { background-image: url("images/icons/share.png"); }
.icon.sms:before { background-image: url("images/icons/sms.png"); }
.icon.snooze:before { background-image: url("images/icons/snooze.png"); }
.icon.star_off:before { background-image: url("images/icons/star_off.png"); }
.icon.star_on:before { background-image: url("images/icons/star_on.png"); }
.icon.sync:before { background-image: url("images/icons/sync.png"); }
.icon.today:before { background-image: url("images/icons/today.png"); }
.icon.unlock:before { background-image: url("images/icons/unlock.png"); }
.icon.up:before { background-image: url("images/icons/up.png"); }
.icon.user:before { background-image: url("images/icons/user.png"); }
.icon.week:before { background-image: url("images/icons/week.png"); }
.icon.wifi_off:before { background-image: url("images/icons/wifi_off.png"); }
.icon.wifi_on:before { background-image: url("images/icons/wifi_on.png"); }

