div.pagebody header {
  background-image: url("images/dark_header.png");
  position: absolute;
  top:-5rem;
}

div.pagebody {
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
  bottom: 0rem;
  opacity: 0;
  z-index: -1;
  border: none;
  font-size: 1.4rem;
  color: white;
  transition: opacity 0.2s;
}

div.pagebody[aria-expanded=true] {
   opacity: 1;
   z-index: 1;
}
